<nav class="navbar">
    <div>
    <a class="home"routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </div>
    <div>  <a class="projects" routerLink="/projects" routerLinkActive="active-link">Projects</a>
    </div>
    <div>
      <a class="skills" routerLink="/skills" routerLinkActive="active-link">Skills</a>
    </div>
    <div>
      <a class="contact" routerLink="/contact" routerLinkActive="active-link">Contact</a>
    </div>
</nav>  
<router-outlet></router-outlet>