/* You can add global styles to this file, and also import other style files */
body {
    background-color: #333;
}
.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .navbar a:hover {
    color: #ffd700; /* Change the color on hover as desired */
  }
  
  .active-link {
    color: #ffd700; /* Change the color for the active link */
  }